# Copiar como dockerhub-secret.yaml, completar y aplicar con kubectl
# kubectl apply -f manifests/tekton/dockerhub-secret.yaml -n tekton-pipelines
apiVersion: v1
kind: Secret
metadata:
  name: dockerhub-credentials
  namespace: tekton-pipelines
  annotations:
    tekton.dev/docker-0: https://index.docker.io
type: kubernetes.io/basic-auth
stringData:
  username: TU_DOCKERHUB_USER
  password: TU_DOCKERHUB_TOKEN
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: tekton-build-sa
  namespace: tekton-pipelines
secrets:
- name: dockerhub-credentials
