# Secret para el webhook de GitHub al EventListener de Tekton
# kubectl apply -f manifests/tekton/github-secret.yaml -n tekton-pipelines
apiVersion: v1
kind: Secret
metadata:
  name: github-webhook-secret
  namespace: tekton-pipelines
type: Opaque
stringData:
  secret: TU_WEBHOOK_SECRET_AQUI
